extends layout

block content
  span.button.location Use My Location
  span.button.address Search By Address
  h2.user-location
  form.hidden.address-search
    input
    span.button Search
  ul.rights

block scripts
  script(type='text/javascript')
    $(document).ready(function() {
      $('span.button.address').click(function() {
        $('form.address-search').fadeIn('fast');
      });
      
      $('span.button.location').click(function() {
        PGN.geo.getUserLocation(function () {
          PGN.geo.reverseGeocode(PGN.userLocation, function (response) {
            $('h2.user-location').html(response[0].formatted_address);
            PGN.core.getData(response);
          });
        });
      });

      $('form.address-search span.button').click(function () {
        var inputVal = $('form.address-search input').val();
        PGN.geo.geoCode(inputVal, function (response) {
          PGN.core.getData(response);
        });
      });
    });
