@import "reset"
@import "variables"

// utility classes
.hidden
  display: none

span.button
  display: block
  overflow: hidden
  margin: 0 0 7px 0
  border: $border
  color: $text_color
  background-color: $pale_gray 
  border-radius: 3px
  $pale_gradient()
  font-weight: bold
  text-align: center
  text-decoration: none
  vertical-align: middle
  line-height: 32px
  height: 32px
  cursor: pointer

  &:hover
    cursor: pointer
  
body
  color: $text_color
  a
    color: $link_color

// header
header
  padding: 3%
  h1
    a
      display: block
      font-weight: bold
      text-decoration: none

.content
  padding: 0 3%

// search form
input
  width: 98%
  font-size: 112%
  font-family: inherit
