@import "reset"
@import "variables"

// utility classes
.hidden
  display: none

span.button
  display: block
  overflow: hidden
  margin: 0 0 7px 0
  border: $border
  color: $text_color
  background-color: $pale_gray 
  border-radius: 3px
  $pale_gradient()
  font-weight: bold
  text-align: center
  text-decoration: none
  vertical-align: middle
  line-height: 32px
  height: 32px
  cursor: pointer

  &:hover
    cursor: pointer
  
body
  color: $text_color
  a
    color: $link_color

// header
header
  padding: 3%
  h1
    a
      display: block
      font-weight: bold
      text-decoration: none
  img
      display: block
      margin: 0 auto

.content
  padding: 0 3%

  h2
    line-height: 1.2em
    margin-bottom: 10px

  ul.rights
    list-style-type: none

    li.header
      padding-top: 10px
      font-weight: bold
      clear: left
      overflow: hidden

      ul
        border-top: 1px solid $gray
        padding-top: 5px
        margin-bottom: 10px
        list-style-type: none

        li
          clear: left
          padding: 3px 0
          font-weight: normal
          line-height: 20px
          float: left

          &:before {
            background: url('/images/icons.png') no-repeat 0 0
            line-height: 20px
            content: ''
            width: 22px
            height: 20px
            display: inline-block
            margin-right: 5px
            float: left
          }

          &.false:before {
            background-position: 0 0
          }

          &.true:before {
            background-position: -28px 0 
          }

// search form
input
  width: 98%
  font-size: 112%
  font-family: inherit
